@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}


#section-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background-color: #0C353F;
    height: fit-content;
    background-image: url("blob-scene-haikei (2).svg");
    background-size: cover;
    background-repeat: no-repeat;
}

#left-right-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#left-flex {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-title {
    text-align: start;
    font-size: 4em;
    line-height: 1;
    color: #D6A53F;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#section-button {
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
    width: 40%;
    background-color: #D6A53F;
    color: white;
    border: 0;
    font-size: 1.5em;
}

#section-paragraph {
    color: white;
    font-size: 1.3em;

}

#right-flex {
    height: fit-content;
    width: fit-content;
}

#agent-img {
    display: inline;
    height: 700px;
    width: 500px;
}